UIElementsSchema/UnityEditor.Localization.UI.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="UnityEditor.Localization.UI" elementFormDefault="qualified" targetNamespace="UnityEditor.Localization.UI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements" />
  <xs:import schemaLocation="UnityEditor.Localization.Plugins.XLIFF.xsd" namespace="UnityEditor.Localization.Plugins.XLIFF" />
  <xs:complexType name="XliffVersionPopupType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="UnityEngine.UIElements" base="q1:BindableElementType">
        <xs:choice />
        <xs:attribute default="XLIFF Version" name="label" type="xs:string" />
        <xs:attribute default="V20" name="value" xmlns:q2="UnityEditor.Localization.Plugins.XLIFF" type="q2:XliffVersionType" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="XliffVersionPopup" xmlns:q3="UnityEngine.UIElements" substitutionGroup="q3:BindableElement" type="tns:XliffVersionPopupType" />
  <xs:complexType name="ProjectTablesPopupType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="UnityEngine.UIElements" base="q4:BindableElementType">
        <xs:choice />
        <xs:attribute default="Selected collection" name="label" type="xs:string" />
        <xs:attribute default="project://database/?fileID=0&amp;guid=&amp;type=0" name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProjectTablesPopup" xmlns:q5="UnityEngine.UIElements" substitutionGroup="q5:BindableElement" type="tns:ProjectTablesPopupType" />
  <xs:complexType name="ProjectLocalePopupFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="UnityEngine.UIElements" base="q6:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProjectLocalePopupField" xmlns:q7="UnityEngine.UIElements" substitutionGroup="q7:BindableElement" type="tns:ProjectLocalePopupFieldType" />
  <xs:complexType name="ProjectCollectionsTableSelectorType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="UnityEngine.UIElements" base="q8:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProjectCollectionsTableSelector" xmlns:q9="UnityEngine.UIElements" substitutionGroup="q9:VisualElement" type="tns:ProjectCollectionsTableSelectorType" />
</xs:schema>